<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
</head>
<body class ="admin_body">
<div class="container">
<center>
<br>
<Br>
<br>
<br>
<br>
<h1 class = "welcome_admin">Welcome
<br>
Admin.</h1>
<br>
<p class ="date">It is currently</p><div class = "welcome_admin"> <%= DateTime.now.in_time_zone("Singapore").strftime("%B %d %Y") %> </div>
<br>
<p class = "date">and the time is </p>
<div class = "welcome_admin"><%= DateTime.now.in_time_zone("Singapore").strftime("%I:%M %p")%>.</div>
<p class ="date">
<br>
What would you like to do?</p>
<br>
<br>
<div class = "buttons">
     <% if cashier_signed_in? %>
         <%= link_to raw("<i class= 'glyphicon glyphicon-shopping-cart'>" "</i> Show Products"), products_path, class:"btn btn-primary" %>
     <% elsif admin_signed_in? %>
        <%= link_to raw("<i class= 'glyphicon glyphicon-shopping-cart'>" "</i> Show Products"), products_path, class:"btn btn-primary" %>
        <%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i> Show cashiers"), cashiers_path, class:"btn btn-primary" %>
     <% end %>
</div>
</div>
</center>
</body>
