<br>
<body class = "cc">
<div class="col-md-offset-3 col-md-12">
<div class = "welcome_cashier">
<div class="form-inputs">
<%= simple_form_for(@order, html: { class: 'form-horizontal' }) do |f| %>
    <br>
    <br>
    <br>
    <%= f.simple_fields_for :orderlines do |orderline| %>
      <% render 'orderline_fields', f: orderline %>
    <% end %>
    <br>
    <br>
    <div class="links">
      <%= link_to_add_association raw("<i class='glyphicon glyphicon-plus'></i> Add Orderline"), f, :orderlines, class: 'btn btn-primary' %>
    </div>
<% end %>
</div>
</div>
</div>
</div>
</body>
