<br>
<Br>
<br>
<div class="nested-fields">
<div class = "welcome_cashier">
        <%= f.association :product, collection: Product.where(product_status: true) %>
        <label>Quantity</label>
        <br>
        <%= f.number_field :order_line_quantity %>
        <br>
        <br>
</div>
    <div class="col-md-offset-2 col-md-2">
        <%= link_to_remove_association raw("<i class='glyphicon glyphicon-remove'></i> Remove Orderline"), f, class: "btn btn-danger" %>
        <br>
        <br>
    </div>
</div>
