<body class = "cc">
<h1 class = "welcome_cashier">CONFIRM ORDER</h1>

<table class="table table-striped">
    <thead class = "welcome_cashier">
        <tr>
            <th>Product</th>
            <th>Price Per Item</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody class = "cashier">
    <tr>
        <% sum = 0  %>
    <% @order.orderlines.each do |order| %>
    <% if order.product.product_status == true %>
        <td> <%= order.product.product_name %> </td> 
        <td> <%= order.product.product_price %> </td>
        <td> <%= order.order_line_quantity %> </td>
        <td> <%= sub_total = order.product.product_price * order.order_line_quantity %></td>
        <% sum += sub_total %>
        <% @order.total_price = sum %>
    </tr>
    <% end %>
    <% end %> 
    </tbody>
</table>
    <h2 class = "welcome_cashier">TOTAL: <%= sum %></h2> 
<div class="form-inputs col-md-offset-3 col-md-6">
  <%= simple_form_for(@order, url: summary_orders_path(@order), html: { class: 'form-horizontal' }) do |f| %>
  <!-- the reinsertion has to be placed in the submit button here "its this one veron"-->
    <%#<%= f.hidden_field :orderline.product_id, :value => @orderline.product_id %>
    <%#<%= f.hidden_field :order_line_quantity, :value => @orderline.order_line_quantity %>
    <%#<%= f.hidden_field :order_line_price, :value => @orderline.order_line_price %>
    <%#<%= f.hidden_field :orderline_ids, :value => @orderline.order_id %>
    
    <%= f.input :cashier_id %>
    <%= f.input :total_price %>
    <%= f.input :cash %>
    <%= f.button :submit, class:"btn btn-success" %>
    <%= link_to raw("<i class= 'glyphicon glyphicon glyphicon-chevron-left'>" "</i> Back"), orders_path, class:"btn btn-danger" %>
  <% end %>
</div>  
</body>
