<body class = "cc">
<h3 class = "welcome_cashier"><center>Orders</center></h3>

<%= link_to raw("<i class= 'glyphicon glyphicon-plus'>" "</i>  Add New Order"), new_order_path, class:"btn btn-primary" %>
<br>
<br>

<table class="table table-bordered">
    <thead class = "welcome_cashier">
        <tr>
            <th>Order ID</th>
            <th>Total price</th>
            <th>Cash</th>
            <th>OrderList</th>
        </tr>
    </thead>
    <tbody class = "cashier">
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.id %> </td>
                <td><%= order.total_price %> </td>
                <td><%= order.cash %></td>
                <td class="text-center"> <%= link_to 'Review', order, class:"btn btn-info" %> </td>
            </tr>
        <% end %>
        
    </tbody>
</table>


</body>