<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
</head>

<body class ="cashier_body">
<div class = "container">
<center>
<br>
<Br>
<br>
<h1 class = "welcome_cashier">Welcome</h1>
<br>
<br>
<p class ="cashier">It is currently <%= DateTime.now.in_time_zone("Singapore").strftime("%B %d %Y") %> 
<br>
and the time is <%= DateTime.now.in_time_zone("Singapore").strftime("%I:%M %p")%>.</p>
<p class ="cashier">
<br>
<p class = "cashier">Would you like to check your orders?</p>
<br>
<br>
<div class = "buttons">
     <% if cashier_signed_in? %>
         <%= link_to raw("<i class= 'glyphicon glyphicon-file'>" "</i> Orders"), orders_path, class:"btn btn-danger" %>
    <% end %>
</div>
</center>
</div>
</body>
