<body class = "cc">
<div class="col-md-offset-3 col-md-6">
<h1 class = "welcome_cashier">New Order</h1>
<div class="form-inputs">
 <%= simple_form_for(@order, html: { class: 'form-horizontal' }) do |f| %>   
    <%= f.simple_fields_for :orderlines do |orderline| %>
      <% render 'orderline_fields', f: orderline %>
    <% end %>
    <br>
    <div class="links">
      <%= link_to_add_association raw("<i class='glyphicon glyphicon-plus'></i> Add Orderlines"), f, :orderlines, class: 'btn btn-primary' %>
    </div>
    <br>
    <div class = "pull-right">
        <%= f.button :submit %>
        <%= link_to 'Back', orders_path, class:"btn btn-danger" %>
    </div>
  <% end %>
</div>
</div>
</body>
