<h1>SHOW ORDER</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price Per Item</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <% sum = 0  %> 
        <% @order.orderlines.each do |order| %>
        <td><%= order.product.product_name %> </td>
        <td> <%= order.product.product_price %> </td>
        <td> <%= order.order_line_quantity %> </td>
        <td> <%= sub_total = order.product.product_price * order.order_line_quantity %></td>
        <% sum += sub_total %>
        <% @order.total_price = sum %>
    </tr>
    
    
    <% end %> 
    </tbody>
</table>
    <h2>TOTAL: <%= :total_price %></h2> 
    <h2>CASH: <%= @order.cash %></h2>
    <h2>CHANGE: <%= @order.cash - sum %></h2>
    
    <%= link_to 'Back', orders_path, class:"btn btn-danger" %>
</div>  






