<body class = "cc">
<h1 class = "welcome_cashier">SHOW ORDER</h1>

<table class="table table-striped">
    <thead class = "welcome_cashier">
        <tr>
            <th>PRODUCT</th>
            <th>PRICE PER ITEM</th>
            <th>QUANTITY</th>
            <th>SUB TOTAL</th>
        </tr>
    </thead>
    <tbody class = "cashier">
    <tr>
        <% sum = 0  %>
        <% @order.orderlines.each do |order| %>
        <td> <%= order.product.product_name %></td>
        <td> <%= order.product.product_price %> </td>
        <td> <%= order.order_line_quantity %> </td>
        <td> <%= sub_total = order.product.product_price * order.order_line_quantity %></td>
        <% sum += sub_total %>
        <% @order.total_price = sum %> 
    </tr>
        <% end %>
    </tbody>
</table>
<div class = "welcome_cashier">
    <h2>TOTAL: <%= @order.total_price %></h2> 
    <h2>CASH: <%= @order.cash %></h2>
    <h2>CHANGE: <%= @order.cash - @order.total_price %></h2>
</div>
    <%= link_to 'Back', orders_path, class:"btn btn-danger" %>
</div>  
</body>





