<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>

<body class = "main_admin">
<div class = "welcome_admin">
<div class="text-center form-inputs col-md-offset-3 col-md-6">
    <div class = "date">
    <%= simple_form_for(@cashier, url: @cashier.new_record? ? cashiers_path : cashier_path(@cashier), html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :cashier_name %>
    <%= f.input :email, label: 'E-mail' %>
     <%= link_to raw("<i class= 'glyphicon glyphicon glyphicon-chevron-left'>" "</i> Back"), cashiers_path, class:"btn btn-danger" %>
    <%= f.button :submit, class:"btn btn-success" %>
   
  <% end %>
  </div>
  </div>
</div>
</body>