<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>
<body class = "main_admin">
<div>
<!-- temp to see font since font is currently white -->
    <center><h3 class = "welcome_admin">DAILY REPORT</h3></center>
    <h7 class ="welcome_admin"><center><i>as of <%= DateTime.now.in_time_zone("Singapore").strftime("%B %d %Y") %></i></center></h7>
    <br>
    <div>
        <table class="table table-bordered">
            <thead class = "welcome_admin">
                <tr>
                    <td><strong>Products</strong></td>
                    <td class="col-md-2"><strong>Quantity Sold</strong></td>
                </tr>
            </thead>
            <tbody class = "date">
                <tr> <!--insert loop for each orderline-->
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%= link_to raw("<i class= 'glyphicon glyphicon-repeat'>" "</i> Back"), cashiers_path, class:"btn btn-danger" %>
</body>