<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>
<body class = "main_admin">
<h3 class = "welcome_admin"><center>CASHIERS</center></h3>

<table class="table table-bordered">
    <thead class = "welcome_admin">
        <tr>
            <th>CASHIER</th>
            <th>CASHIER'S EMAIL</th>
            <th>STATUS</th>
            <th>SHOW</th>
            <th>EDIT</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody class = "date">
        <% @cashiers.each do |cashier| %>
            <tr>
                <td> <%= cashier.cashier_name %> </td>
                <td> <%= cashier.email %> </td>
                <!--<td> <%= cashier.cashier_status %> </td>-->
                <% if cashier.cashier_status == true %>
                    <td class="text-center"> Active </td>
                <% else %>
                    <td class="text-center"> Deactivated </td>
                <% end %>
                <td class="text-center"> <%= link_to 'Review', cashier, class:"btn btn-info" %> </td>
                <td class="text-center"> <%= link_to 'Edit', edit_cashier_path(cashier), class:"btn btn-primary" %> </td>
                <% if cashier.cashier_status == true %>
                    <td class="text-center"> <%= link_to 'Deactivate', cashier, method: :delete, class:"btn btn-danger", data: { confirm: 'Deactivating: Are you sure?' }  %> </td>
                <% else %>
                     <td class="text-center"> <%= link_to 'Activate', cashier, method: :delete, class:"btn btn-success", data: { confirm: 'Activating: Are you sure?' }  %> </td>
             <% end %>
            </tr>
        <% end %>
        
    </tbody>
</table>

<%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i>  Add New Cashiers"), new_cashier_path, class:"btn btn-success" %>
<%= link_to raw("<i class= 'glyphicon glyphicon-list'>" "</i>  Check Daily Sales Report"), cashiers_daily_report_path, class:"btn btn-default" %>
<%= link_to raw("<i class= 'glyphicon glyphicon-repeat'>" "</i> Return to Admin Page"), admins_path, class:"btn btn-danger" %>
</body>