<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>

<center>
<body class = "main_admin">
<div class = "welcome_admin">
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1> ADD A NEW CASHIER </h1>
        
        <%= render 'form', cashier: @cashier %>
    </div>
</div>
</div>
</center>
</body>




