<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>

<body class = "main_admin">
<div class="col-md-9">
    <div class="row">
        <h3 class = "welcome_admin">Show Cashier</h3>
         <table class="table table-bordered">
            <thead class = "welcome_admin">
                <tr class = "welcome_admin">
                    <td>  CASHIER NAME:  </td>
                    <td>  CASHIER ID: </td>
                    <td>  CASHIER STATUS: </td>
                </tr>
            </thead>
            <tbody>
                <tr class = "date">
                    <td> <%= @cashier.cashier_name %> </td>
                    <td> <%= @cashier.id %></td>
                    <% if @cashier.cashier_status == true %>
                    <td> Active </td>
                    <% else %>
                    <td> Deactivated </td>
                    <% end %>
                    <div class="pull-right">
                        <%= link_to 'Back', cashiers_path, class:"btn btn-danger" %>
                        
                    </div>
                </tr>
            </tbody>
    </div>
</div>
<!--<h3 class = "welcome_admin"><center>Orders</center></h3>-->
<br>
<table class="table table-bordered">
    <thead>
        <tr class = "welcome_admin">
            <th>Order ID</th>
            <th>Total price</th>
            <th>Cash</th>
            <th>OrderList</th>
        </tr>
    </thead>
    <tbody class = "welcome_admin">
        <% @cashier.orders.each do |order| %>
            <tr>
                <% if order.cashier_id = @cashier %>
                <td> <%= order.id %> </td>
                <td><%= order.total_price %> </td>
                <td><%= order.cash %></td>
                <td class="text-center"> <%= link_to 'Review', orders_path , class:"btn btn-info" %> </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
</body>