<body class = "main">
<center>
    <br>
    <br>
    <br
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i> Log in as Admin"), admin_session_path, class:"btn btn-primary" %>
<Br>
<br>
<%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i> Log in as Cashier"), cashier_session_path, class:"btn btn-danger" %>

</center>
</body>
