// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//admin
.admin_body{
            background-image: url("https://68.media.tumblr.com/954a587fb96258db23ba87db52c02a5c/tumblr_ot4r2ekGhk1wqqrfao1_1280.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-color:#000;
            background-size: cover;
            background-position: center 0;
    }
    
.main_admin{
            background-image:url("https://68.media.tumblr.com/d7b6bd450c5f9d470fbc3fe9e8bb689b/tumblr_ot4hnesSn71wqqrfao1_1280.png"); 
            background-color:#000;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 0;
}

.welcome_admin, strong{
            color:#fff;
            font-family: 'Arimo', sans-serif;
            text-shadow: 3px 3px 10px #474343;
}

.date{
            color:#fff;
            font-family: 'Heebo', sans-serif;
            font-size: 16px;
}

// login

.main{
            background-image:url("https://68.media.tumblr.com/ea77c3cf4e8834c1f8bbfac344167aa1/tumblr_ot4og7vncq1wqqrfao2_1280.png"); 
            background-color:#000;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 0;
}

.login{
            background-image:url("https://68.media.tumblr.com/fca48d6359b1cd777d0ba189a8ed97a7/tumblr_ot4p4m2n3S1wqqrfao2_1280.png");
            background-color:#000;
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-size: cover;
            background-position: center 0;
}

.container{
            text-align:center;
            top: 75%;
            
}


// .buttons{
//             color:#fff;
//             font-family: 'Cabin Condensed', sans-serif;
//             font-size: 20px;
// }
