// Place all the styles related to the Cashiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome_cashier, strong{
            color:#22496b;
            font-family: 'Arimo', sans-serif;
            text-shadow: 3px 3px 10px #dbdbdb;
}

.cashier{
            color:#22496b;
            font-family: 'Heebo', sans-serif;
            font-size: 16px;
}

.cashier_body{
            background-image: url("https://68.media.tumblr.com/76004cbf8ca6f75a5d1f527c0b8b5029/tumblr_ot4r8hdYTL1wqqrfao1_1280.png");
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-color:#fff;
            background-size: cover;
            background-position: center 0;
}

.cc{
            background-image: url("https://68.media.tumblr.com/33d80c1c887160dbbd0c51efcce5f927/tumblr_ot4jmtrUpm1wqqrfao2_1280.png");
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-color:#fff;
            background-size: cover;
            background-position: center 0;
}