<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>

<body class = "main_admin">
<div class="form-inputs col-md-offset-3 col-md-6">
  <%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
  <div class = "welcome_admin">
    <%= f.input :product_name %>
    <%= f.input :product_price %>
     <%= link_to raw("<i class= 'glyphicon glyphicon glyphicon-chevron-left'>" "</i> Back"), products_path, class:"btn btn-danger" %>
    <%= f.button :submit, class:"btn btn-success" %>
   </div>
  <% end %>
</div>
</body>