<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
</head>

<body class = "main_admin">
<center>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <center><h1 class = "welcome_admin"> EDIT PRODUCT </h1></center>
        
        <%= render 'form', product: @product %>
    </div>
</div>
</center>
</body>