<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>

<body class = "main_admin">
<center>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1 class = "welcome_admin"> ADD A NEW PRODUCT </h1>
        <%= render 'form', product: @product %>
    </div>
</div>
</center>
</body>