
<body class = "main_admin">
<div class="col-md-9">
    <div class="row">
        <h3>Show Product</h3>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <td> <strong> PRODUCT NAME: </strong> </td>
                    <td> <strong> PRODUCT PRICE: </strong></td>
                    <td> <strong> PRODUCT STATUS: </strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <%= @product.product_name %> </td>
                    <td> $<%= @product.product_price %> </td>
                    <td> <%= @product.product_status %> </td>
                    <div class="pull-right">
                        <%= link_to 'Back to Products Page', products_path, class:"btn btn-danger" %>
                    </div>
                </tr>
            </tbody>
    </div>
</div>
</body>