<head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
</head>


<body class = "main_admin">
<div class="col-md-9">
    <div class="row">
        <br>
        <br>
        <h3 class = "welcome_admin">SHOW PRODUCT</h3>
         <table class="table table-bordered">
            <thead>
                <tr class = "welcome_admin">
                    <td> PRODUCT NAME:  </td>
                    <td> PRODUCT PRICE: </td>
                    <td> PRODUCT STATUS: </td>
                </tr>
            </thead>
            <tbody>
                <tr class = "date">
                    <td> <%= @product.product_name %> </td>
                    <td> <%= @product.product_price %> </td>
                    <% if @product.product_status == true %>
                    <td> <%= "Activate" %> </td>
                    <% else %>
                    <td> <%= "Deactivate" %> </td>
                    <% end %>
                    <div class="pull-right">
                        <%= link_to 'Back to Products Page', products_path, class:"btn btn-danger" %>
                    </div>
                </tr>
            </tbody>
    </div>
</div>
</body>