<html>
  <head>
    <title>A S V U S POS SYSTEM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light blue lighten-4" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">A S V U S</a>
        </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li class = "cc">
           <% if cashier_signed_in? %>
            <li><%= link_to "Orders", orders_path %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to "Products", products_path %></li> 
            <li><%= link_to "Cashiers", cashiers_path %></li>
            <li><%= link_to "Daily Sales Report", cashiers_daily_report_path %></li>
          <% end %>
        </li>
        </ul>
          <p class="welcome_admin navbar-text pull-right">
           <% if admin_signed_in? %>
            <%= current_admin.name %> |
            <!--<%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |-->
            <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link' %>
            <% end %>
          <% if cashier_signed_in? %>
            <strong>Cashier:</strong>
            <strong><%= current_cashier.cashier_name %> </strong> |
            <%= link_to 'Edit profile', edit_cashier_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_cashier_session_path, method: :delete, :class => 'navbar-link'  %>
          <% elsif cashier_signed_in? == false && admin_signed_in? == false %>
            <%= link_to "Login as Admin", new_admin_session_path, :class => 'navbar-link'  %> |
            <%= link_to "Login as Cashier", new_cashier_session_path, :class => 'navbar-link'  %>
          <% end %>
          </p>
        </div>
      </div>
    </nav> 
    
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <% if cashier_signed_in? %>
        <% case current_cashier.valid_password?('password') %>
          <% when true %>
              <p class="alert alert-danger"><strong>NOTICE:</strong> We strongly advise you to change your password. <a href="../cashier/edit">Click here to edit.</a></p>
          <% else %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
  
</html>	